﻿
@page "/admin"
@using Microsoft.FluentUI.AspNetCore.Components

@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]
@inject IDialogService DialogService
@inject ThemeState ThemeState




<FluentLayout Style="margin-top: 10px;">
    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
       
            <FluentNavMenu Width="250">
            @if (ThemeState.IsDark)
            {
                <a class="logo logo-header" href="/admin">

                    <img id="logo" alt="Lazy Loading" src="@(ThemeState.IsDark ? "images/logofordark.png" : "images/logoforlight.png" )" class="logo logo-header" />

                </a>
            }
            else
            {
                <a class="logo logo-header" href="/admin">

                    <img id="logo" alt="Lazy Loading" src="images/logoforlight.png" class="logo logo-header" />

                </a>
            }
                <FluentMenuButton @ref=menubuttonm Text="Select brand color" OnMenuChanged="HandleOnMenuChanged">
                    <FluentMenuItem Id="AddProduct">Add Product</FluentMenuItem>
                </FluentMenuButton>
            </FluentNavMenu>
        

      
            <FluentBodyContent>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
                Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
                Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
                Nulla fringilla sagittis orci eu consectetur. Fusce eget dolor non lectus placerat
                tincidunt. Pellentesque aliquam non odio ac porttitor. Nam finibus mattis sagittis.
                Ut hendrerit porttitor massa in aliquam. Duis laoreet fringilla feugiat.
                Sed maximus, urna in fringilla posuere, enim urna bibendum justo, vel molestie nibh orci nec lectus.
                Etiam a varius justo. Aenean nisl ante, interdum eget vulputate eget, iaculis ut massa.
                Suspendisse maximus sed purus id molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </FluentBodyContent>
        
    </FluentStack>


</FluentLayout>


@code {
    private FluentMenuButton menubuttonm = new();

    private async Task HandleOnMenuChanged(MenuChangeEventArgs args)
    {
        Console.WriteLine(args.Id + args.Value);
        if (args.Id == "AddProduct")
        {
            await OpenDialogAsync(args.Value);
            Console.WriteLine("LoL Dialog");
        }
    }


    private bool _trapFocus = true;
    private bool _modal = true;

    private async Task OpenDialogAsync(string? title)
    {
        Console.WriteLine($"Open dialog centered");

        DialogParameters parameters = new()
            {
                Title = title,
                PrimaryAction = "Add",
                PrimaryActionEnabled = false,
                SecondaryAction = "Cancel",
                Width = "500px",
                TrapFocus = _trapFocus,
                Modal = _modal,
                PreventScroll = true
            };

        IDialogReference dialog = await DialogService.ShowDialogAsync<AddProductDialog>(parameters);
        DialogResult? result = await dialog.Result;


        if (result.Data is not null)
        {
            SimplePerson? simplePerson = result.Data as SimplePerson;
            Console.WriteLine($"Dialog closed by {simplePerson?.Firstname} {simplePerson?.Lastname} ({simplePerson?.Age}) - Canceled: {result.Cancelled}");
        }
        else
        {
            Console.WriteLine($"Dialog closed - Canceled: {result.Cancelled}");
        }
    }
  
}

